body{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

/* ◊Û≤‡ */
.side_left{
    width: 220px;
    min-height: 1000px;
    position: absolute;
}

#side_left_nav{
    margin-top: 20px;
}

.second-metisMenu a{
    margin-left: 30px;
}

#side_left_nav li a{
    line-height: 26px;
}

#side_left_nav .nav > li > a,
#side_left_nav .nav > li > a{
    color: #A7B1C2;
    font-weight: bold;
}

#side_left_nav .nav .active{
    border-left: 3px solid #19aa8d;
    background: #293846;
}

#side_left_nav .nav .content{
    margin-left: 15px;
}

#side_left_nav .nav .second_fa{
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}

#side_left_nav li{
    min-height: 46px;
}

#side_left_nav .nav > li > a:focus,
#side_left_nav .nav > li > a:hover{
    background-color: #293846;
    color: #ffffff;
}

/* ”“≤‡ */
.page_content{
    min-height: 1000px;
    margin-left: 220px;
    background: #f3f3f4;
}

