*{
    margin: 0 0;
    padding: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}

body{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.row{
    margin: 0;
    padding: 0;
}

.row .col-sm-12{
    margin: 0;
    padding: 0;
}

body > .left{
    width: 220px;
    position: absolute;
    min-height: 1000px;
}

.user_info{
    width: 100%;
    height: 156px;
    padding: 25px 30px;
    background: url("patterns/header-profile.png") no-repeat;
}

.user_info a{
}

.navbar-default > .active{
    border-left: 4px solid #19aa8d;
}

.left > ul > li a .first_one{
    margin-left: 5px;
    margin-right: 15px;
}

.left > ul > li a .second_one{
    float: right;
    padding: 2px 10px 0 0;
}

.left > ul >li a .second_one:before{
    content: "\f054";
}

.left > ul > li a{
    background: #2F4050;
}

.left > ul > li .user_info ul a{
    background: white;
}

.left > ul > .active > a .second_one:before{
    content: "\f078";
}

.left ul .nav-second-level a{
    padding-left: 40px;
}

.left ul .nav-third-level a{
    padding-left: 80px;
}

.mini-navbar .navbar-default li a span{
    display: none;
}

.mini-navbar .navbar-default li a .second_one{
    display: none;
}

.mini-navbar .user_info{
    display: none;
}

.mini-navbar .navbar-default li {
     position: relative;
 }
.mini-navbar .navbar-default > li ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    display: none;
}
.mini-navbar .navbar-default li:hover > ul,
.mini-navbar .navbar-default li:hover > ul.collapse {
    display: block !important;
    height: auto !important;
    z-index: 1000;
    background: #444;
    visibility: visible;
}

body > .right{
    min-height: 1000px;
    margin-left: 220px;
    background: #f3f3f4;
}

.right .navbar-static-top{
    background: #f3f3f4;
    margin-bottom: 0;
}

.right .navbar-static-top .navbar-side-btn{
    margin-left: 20px;
    margin-top: 12px;
    padding: 0;
}

.right .navbar-static-top .navbar-form-custom{
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
    height: 50px;
}

.right .navbar-static-top .navbar-form-custom .form-control,
.right .navbar-static-top .navbar-form-custom .form-control:hover{
    width: 200px;
    border: none;
    box-shadow: none;
    background: transparent none repeat scroll 0 0;
}

.right .navbar-right-top{
    margin-top: 3px;
}

.right .page_content_header{
    line-height: 1.0000;
}

.right .title-one{
    height: 90px;
    background: #ffffff;
}

.right .title-one-left{
    padding-left: 30px;
}

ol li {
    list-style-type: none;
}

.right .title-one-left ol li{
    float: left;
    margin-right: 10px;
}

.right .title-one-left ol li a{
    text-decoration: none;
    color: #676A6C;
}

.right .page-content-2{
    background: #ffffff;
    min-height: 610px;
    margin: 20px 27px 0 27px;
    border-top: 4px solid #E7EAEC;
}

.right .page-content-2 .header{
    border-bottom: 1px solid #E7EAEC;
    min-height: 50px;
    padding-top: 12px;
}

.right .page-content-2 .header .left *{
    float: left;
}

.right .page-content-2 .header .left > h3{
    margin-left: 10px;
}

.right .page-content-2 .header .left > span{
    margin-left: 10px;
    margin-top: 3px;
}

.right .page-content-2 .header .right{
    float: right;
}

.right .page-content-2 .header .right > li{
    float: left;
    margin-right: 15px;
}

.right .page_content_3{
    padding: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus{
    background: #1AB394;
    border-color: #1AB394;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable thead tr{
    border-bottom: 1px solid #DDD;
}

table.dataTable tfoot th,
table.dataTable tfoot td{
    border-top: 1px solid #DDD;
}